<ion-view>
  <ion-content>
    <div class="row">
      <div class="col col-50">
        <a class="item item-avatar" href="#/FASTERBLUETOOTHHANDSFREE">
          <img src="img/FASTERBLUETOOTHHANDSFREE.jpg">
          <h2 class="smallfont">FASTER</h2>
        </a>
      </div>
      <div class="col col-50">
        <a class="item item-avatar" href="#/REMAXBLUETOOTHHANDSFREE">
          <img src="img/REMAXBLUETOOTHHANDSFREE.jpg">
          <h2 class="smallfont">REMAX</h2>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col col-50">
        <a class="item item-avatar" href="#/ROMANBLUETOOTHHANDSFREE">
          <img src="img/ROMANBLUETOOTHHANDSFREE.jpg">
          <h2 class="smallfont">ROMAN</h2>
        </a>
      </div>
</div>
  </ion-content>
</ion-view>
