<ion-view>
  <ion-content>
    <div class="row">
      <div class="col col-50">
        <a class="item item-avatar" href="#/BASEUSCABLESYNC">
          <img src="img/BASEUSCABLESYNC.jpg">
          <h2 class="smallfont">BASEUS</h2>
        </a>
      </div>
      <div class="col col-50">
        <a class="item item-avatar" href="#/BOBINECABLESYNC">
          <img src="img/BOBINECABLESYNC.jpg">
          <h2 class="smallfont">BOBINE</h2>
        </a>
      </div>
      </div>
    <div class="row">
      <div class="col col-50">
        <a class="item item-avatar" href="#/FASTERSYNCCABLE">
          <img src="img/FASTERCABLESYNC.jpg">
          <h2 class="smallfont">FASTER</h2>
        </a>
      </div>
      <div class="col col-50">
        <a class="item item-avatar" href="#/REMAXSYNCCABLE">
          <img src="img/REMAXSYNCCABLE.jpg">
          <h2 class="smallfont">REMAX</h2>
        </a>
      </div>
    </div>




  </ion-content>
</ion-view>
