<ion-view>
  <ion-content>
    <div class="row">
      <div class="col col-50">
        <a class="item item-avatar" href="#/CARCHARGER">
          <img src="img/CARCHARGER.jpg">
          <h2 class="smallfont">CAR CHARGER</h2>
        </a>
      </div>
      <div class="col col-50">
        <a class="item item-avatar" href="#/HOMECHARGER">
          <img src="img/HOMECHARGER.jpg">
          <h2 class="smallfont">HOME CHARGER</h2>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col col-50">
        <a class="item item-avatar" href="#/SOCKET">
          <img src="img/SOCKET.jpg">
          <h2 class="smallfont">SOCKET</h2>
        </a>
      </div>
</div>


  </ion-content>
</ion-view>
