<ion-view>
  <ion-content>

    <div class="list card">
      <a href="#" class="item item-icon-left">
        <i class="icon ion-ios-telephone"></i>
        (+92) 21 322 36666
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-email"></i>
        Online@fasterpakistan.com
      </a>

      <a href="https://www.facebook.com/FasterPakistani" target="_blank" class="item item-icon-left">
        <i class="icon ion-social-facebook"></i>
        Faster Pakistan FaceBook
      </a>
      <a href="https://twitter.com/fasterpakistani" target="_blank" class="item item-icon-left">
        <i class="icon ion-social-twitter"></i>
        Faster Pakistan Twitter
      </a>
      <a href="https://www.instagram.com/fasterpakistan" target="_blank" class="item item-icon-left">
        <i class="icon ion-social-instagram"></i>
        Faster Pakistan Instagaram
      </a>
      <a href="https://www.youtube.com/channel/UCYUGT6JXHc03LC6k1kNmifw" target="_blank" class="item item-icon-left">
        <i class="icon ion-social-youtube"></i>
        Faster Pakistan You Tube
      </a>
    </div>

  </ion-content>
</ion-view>
