<ion-view>
  <ion-content>

    <h1>DEALS</h1>

    <div class="row responsive-sm">
      <div class="col">
        <figure class="oderdesign">
          <img src="../img/fastcamera2slide.jpg" alt="The Pulpit Rock" width="304" height="228">
          <figcaption>
            <button class="button button-full button-positive butorange">
              Submit Order
            </button>
          </figcaption>
        </figure>
      </div>
      <div class="col">
        <figure class="oderdesign">
          <img src="../img/fasterfhf217.jpg" alt="The Pulpit Rock" width="304" height="228">
          <figcaption>
            <button class="button button-full button-positive butorange">
              Submit Order
            </button>
          </figcaption>
        </figure>
      </div>
      <div class="col">
        <figure class="oderdesign">
          <img src="../img/fasterpowerbanksale.jpg" alt="The Pulpit Rock" width="304" height="228">
          <figcaption>
            <button class="button button-full button-positive butorange">
              Submit Order
            </button>
          </figcaption>
        </figure>
      </div>
      <div class="col">
        .col
      </div>
    </div>


  </ion-content>
</ion-view>
