<ion-view>
  <ion-content>
    <div class="row">
      <div class="col col-50">
        <a class="item item-avatar" href="#/FASTERHANDSFREEANDHEADPHONE">
          <img src="img/FASTERHANDSFREEANDHEADPHONE.jpeg">
          <h2 class="smallfont">FASTER</h2>
        </a>
      </div>
      <div class="col col-50">
        <a class="item item-avatar" href="#/REMAXHANDSFREEANDHEADPHONE">
          <img src="img/REMAXHANDSFREEANDHEADPHONE.png">
          <h2 class="smallfont">REMAX</h2>
        </a>
      </div>
    </div>


  </ion-content>
</ion-view>
