<ion-view>
  <ion-content>
    <div class="row">
      <div class="col col-50">
        <a class="item item-avatar" href="#/FASTERHEADPHONE">
          <img src="img/FASTERHEADPHONE.jpg">
          <h2 class="smallfont">FASTER</h2>
        </a>
      </div>
      <div class="col col-50">
        <a class="item item-avatar" href="#/REMAXHEADPHONE">
          <img src="img/REMAXHEADPHONE.jpg">
          <h2 class="smallfont">REMAX</h2>
        </a>
      </div>
    </div>


  </ion-content>
</ion-view>
