<ion-view>
  <ion-content>

    <div class="list">

      <div class="row">
        <div class="col col-50">
          <a class="item item-avatar" href="#/DEALS">
            <img src="img/deals.png">
            <h2 class="smallfont">DEALS</h2>
          </a>
        </div>
        <div class="col col-50">
          <a class="item item-avatar" href="#/SMARTWATCHES">
            <img src="img/smartwatch.jpg">
            <h2 class="smallfont">SMART WATCHES</h2>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col col-50">
          <a class="item item-avatar" href="#/POWERBANK">
            <img src="img/POWERBANKS.jpg">
            <h2 class="smallfont">POWER BANKS</h2>
          </a>
        </div>
        <div class="col col-50">
          <a class="item item-avatar" href="#/MEMORYCARD">
            <img src="img/MEMORYCARDS.jpg">
            <h2 class="smallfont">MEMORY CARDS</h2>
          </a>

        </div>
      </div>
      <div class="row">
        <div class="col col-50">
          <a class="item item-avatar" href="#/CHARGER">
            <img src="img/CHARGER.jpg">
            <h2 class="smallfont">CHARGER</h2>
          </a>
        </div>
        <div class="col col-50">
          <a class="item item-avatar" href="#/CABLESYNC">
            <img src="img/CableSync.jpg">
            <h2 class="smallfont">Cable & Sync</h2>
          </a>
        </div>
        </div>
      <div class="row">
        <div class="col col-50">
          <a class="item item-avatar" href="#/USBFLASHDRIVE">
            <img src="img/USBFLASHDRIVE.jpg">
            <h2 class="smallfont">USB FLASH DRIVE</h2>
          </a>
        </div>
        <div class="col col-50">
          <a class="item item-avatar" href="#/HANDSFREEHEADPHONES">
            <img src="img/HANDSFREEANDHEADPHONE.jpg">
            <h2 class="smallfont">HANDSFREE $ HEADPHONE</h2>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col col-50">
          <a class="item item-avatar" href="#/VIRTUALREALITY">
            <img src="img/VIRTUALREALITY.jpg">
            <h2 class="smallfont">VIRTUAL REALITY</h2>
          </a>
        </div>
        <div class="col col-50">
          <a class="item item-avatar" href="#/BLUETOOTHHANDSFREE">
            <img src="img/BLUETOOTHHANDSFREE.jpg">
            <h2 class="smallfont">BLUETOOTH HANDSFREE</h2>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col col-50">
          <a class="item item-avatar" href="#/WIRELESSCHARGER">
            <img src="img/WIRELESSCHARGER.jpg">
            <h2 class="smallfont">WIRELESS CHARGER</h2>
          </a>
        </div>
        <div class="col col-50">
          <a class="item item-avatar" href="#/BLUETOOTHSPEAKER">
            <img src="img/BLUETOOTHSPEAKER.jpg">
            <h2 class="smallfont">BLUETOOTH SPEAKER</h2>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col col-50">
          <a class="item item-avatar" href="#/BLUETOOTHHEADPHONE">
            <img src="img/BLUETOOTHHEADPHONE.jpg">
            <h2 class="smallfont">BLUETOOTH HEADPHONE</h2>
          </a>
        </div>
        <div class="col col-50">
          <a class="item item-avatar" href="#/SPECIAL">
            <img src="img/SPECIAL.jpg">
            <h2 class="smallfont">SPECIAL</h2>
          </a>
        </div>
      </div>
    </div>







  </ion-content>
</ion-view>
