<ion-view  view-title="Login">
  <ion-content class="padding pagewall">
    <div class="list formcolor">
      <h1 class="logon">Login</h1>

      <label class="item item-input item-floating-label">
        <span class="input-label text-input">Email</span>
        <input class="colchange" type="text" placeholder="Email">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label text-input">Password</span>
        <input class="colchange" type="password" placeholder="Password">
      </label>
    </div>
    <div class="button-bar">
      <a class="button button-positive  button-outline" ui-sref="app">Login</a>
      <a class="button button-calm  button-outline" ui-sref="signup">Sign Up</a>
    </div>
    <br>
    <p class="centeor">OR</p>
    <br>
    <button class="button button-block button-positive button-outline fb" ui-sref="app">
      Facebook Login
    </button>
    <br>
    <button class="button button-block button-stable gmail  button-outline" ui-sref="app">
      Gmail Login
    </button>











    <!--<h1>Main app here</h1>
    <button class="button" ng-click="toIntro()">Do Tutorial Again</button>-->
  </ion-content>
</ion-view>
