<ion-view>
  <ion-content>
    <div class="row">
      <div class="col col-50">
        <a class="item item-avatar" href="#/FASTERMEMORYCARD">
          <img src="img/FASTERMEMORYCARD.png">
          <h2 class="smallfont">FASTER</h2>
        </a>
      </div>
      <div class="col col-50">
        <a class="item item-avatar" href="#/KINGSTONMEMORYCARD">
          <img src="img/KINGSTONMEMORYCARD.jpg">
          <h2 class="smallfont">KINGSTON</h2>
        </a>
      </div>
    </div>


  </ion-content>
</ion-view>
