<ion-view>
  <ion-content>

    <ion-infinite-scroll>

    <div class="list card">


     <h1>FASTER FHF 217</h1>
      <div class="item item-body">
        <img class="full-image" src="../img/Fasterhandfree.jpg">
        <button class="button button-full button-positive">
            BUY THIS NEW ITEM
          </button>

      </div>

    </div>
    <div class="list card">


      <h1>FASTER FHF 117</h1>
      <div class="item item-body">
        <img class="full-image" src="../img/FASTERFHF117.jpg">
        <button class="button button-full button-positive">
          BUY THIS NEW ITEM
        </button>

      </div>

    </div>

  </ion-infinite-scroll>


  </ion-content>
</ion-view>
