<ion-view view-title="Power Bank">
  <ion-content>
    <div class="list">

      <div class="row">
        <div class="col col-50">
          <a class="item item-avatar" href="#/ADATAPOWERBANK">
            <img src="img/ADATAPOWERBANK.jpg">
            <h2 class="smallfont">ADATA</h2>
          </a>
        </div>
        <div class="col col-50">
          <a class="item item-avatar" href="#/FASTERPOWERBANK">
            <img src="img/FASTERPOWERBANK.jpg">
            <h2 class="smallfont">FASTER</h2>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col col-50">
          <a class="item item-avatar" href="#/REMAXPOWERBANK">
            <img src="img/REMAXPOWERBANK.jpg">
            <h2 class="smallfont">REMAX</h2>
          </a>
        </div>
        <div class="col col-50">
          <a class="item item-avatar" href="#/ROMOSSPOWERBANK">
            <img src="img/ROMOSSPOWERBANK.jpg">
            <h2 class="smallfont">ROMOSS</h2>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col col-50">
          <a class="item item-avatar" href="#/XIAOMIPOWERBANK">
            <img src="img/XIAOMIPOWERBANK.jpg">
            <h2 class="smallfont">XIAOMI</h2>
          </a>
        </div>

      </div>
</div>

  </ion-content>
</ion-view>
