<ion-view>
  <ion-content>
    <div class="row">
      <div class="col col-50">
        <a class="item item-avatar" href="#/BASEUS">
          <img src="img/BASEUS.png">
          <h2 class="smallfont">BASEUS</h2>
        </a>
      </div>
      <div class="col col-50">
        <a class="item item-avatar" href="#/BLUETOOTH">
          <img src="img/BLUETOOTH.jpg">
          <h2 class="smallfont">BLUETOOTH</h2>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col col-50">
        <a class="item item-avatar" href="#/CARDREADER">
          <img src="img/CARDREADER.jpg">
          <h2 class="smallfont">CARDREADER</h2>
        </a>
      </div>
      <div class="col col-50">
        <a class="item item-avatar" href="#/CHROMECAST">
          <img src="img/CHROMECAST.jpg">
          <h2 class="smallfont">CHROMECAST</h2>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col col-50">
        <a class="item item-avatar" href="#/MI">
          <img src="img/MI.png">
          <h2 class="smallfont">MI</h2>
        </a>
      </div>
      <div class="col col-50">
        <a class="item item-avatar" href="#/TVBOX">
          <img src="img/TVBOX.jpg">
          <h2 class="smallfont">TVBOX</h2>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col col-50">
        <a class="item item-avatar" href="#/FASTER">
          <img src="img/FASTER.jpg">
          <h2 class="smallfont">FASTER</h2>
        </a>
      </div>
      <div class="col col-50">
        <a class="item item-avatar" href="#/REMAX">
          <img src="img/REMAX.png">
          <h2 class="smallfont">REMAX</h2>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col col-50">
        <a class="item item-avatar" href="#/ROMAN">
          <img src="img/ROMAN.jpg">
          <h2 class="smallfont">ROMAN</h2>
        </a>
      </div>
      <div class="col col-50">
        <a class="item item-avatar" href="#/UNIC">
          <img src="img/UNIC.png">
          <h2 class="smallfont">UNIC</h2>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col col-50">
        <a class="item item-avatar" href="#/WIRELESSKEYBOARD">
          <img src="img/WIRELESSKEYBOARD.jpg">
          <h2 class="smallfont">WIRELESSKEYBOARD</h2>
        </a>
      </div>
</div>
  </ion-content>
</ion-view>
