<ion-view>
  <ion-content>
    <div class="row">
      <div class="col col-50">
        <a class="item item-avatar" href="#/ADATAFLASHDRIVE">
          <img src="img/ADATAFLASHDRIVE.jpg">
          <h2 class="smallfont">ADATA</h2>
        </a>
      </div>
      <div class="col col-50">
        <a class="item item-avatar" href="#/FASTERFLASHDRIVE">
          <img src="img/FASTERFLASHDRIVE.jpg">
          <h2 class="smallfont">FASTER</h2>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col col-50">
        <a class="item item-avatar" href="#/KINGSTONFLASHDRIVE">
          <img src="img/KINGSTONFLASHDRIVE.jpg">
          <h2 class="smallfont">KINGSTON</h2>
        </a>
      </div>
      <div class="col col-50">
        <a class="item item-avatar" href="#/SANDISKFLASHDRIVE">
          <img src="img/SANDISKFLASHDRIVE.jpg">
          <h2 class="smallfont">SANDISK</h2>
        </a>
      </div>
    </div>


  </ion-content>
</ion-view>
