<ion-view hide-back-button="true" view-title="Awesome">
  <ion-content class="padding pagewall" >
    <div class="list">
      <h1 class="logon">Sign Up</h1>
      <label class="item item-input item-floating-label">
        <span class="input-label text-input">First Name</span>
        <input class="colchange" type="text" placeholder="First Name">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label text-input">Last Name</span>
        <input class="colchange" type="text" placeholder="Last Name">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label text-input">Email</span>
        <input class="colchange" type="email" placeholder="Email">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label text-input">Password</span>
        <input class="colchange" type="password" placeholder="Password" >
      </label>
      <button class="button button-full button-positive button-outline" ui-sref="main">
        Sign Up
      </button>
    </div>
  </ion-content>
</ion-view>
